.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #D8E1E9;
  height: 150px;
  color: white;
  padding: 0px 20px;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.big-div{
  padding: 15px;
  height:600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-div h1{
  max-width: 50%;
}

.inner-div{
  background-color:white;
  width:1000px;
  height: 100%;
  //display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #B3C5D7;
  border-right: 1px solid #B3C5D7;
  box-shadow: 2px -2px 1px 2px #F2F2F2;
}

.inner-div h2{
  width: 250px;
  margin: 0 auto;
}

.inner-div.flower-div{
  position: relative;
}

.inner-div .champ-open{
  width: 150px;
  bottom: 87px;
  position: absolute;
  left: 423px;
}

.App-header .inner-div{
  background-color: #D8E1E9;
  border-left: none;
  border-right:none;
  border-bottom: 2px solid #B3C5D7;
}


.title-area{
  background-color: #D8E1E9;
}

.title-area h1{
  border: 2px solid #D8E1E9;
  padding: 255px 230px;
  margin: 10px auto;
}

.legend {
  background-color: #D8E1E9;
}


.legend .inner-div{
  background-color: white;
  background-image: url("images/scotland.jpg");
  background-size: cover;
  box-shadow: none;
}


.details{
  background-color: #D8E1E9;
}
.big-div.details .inner-div h2{
  margin-top: 80px;
}

.location{
  background-color: #D8E1E9;
}

.transport{
  background-color: #D8E1E9;
}

.social,.accomodation{
  background-color: #D8E1E9;
}

.thanks{
  background-color: #D8E1E9;
  color:white;
}

.decorative-flower{
  position: absolute;
  z-index: 0;
  left: -170px;
  top: -135px;
  width: 500px;
}

.decorative-flower2{
  position: absolute;
  z-index: 0;
  right: -170px;
  bottom: -155px;
  width: 500px;
  transform: rotate(180deg);
}


