.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #D8E1E9;
  height: 150px;
  color: white;
  padding: 0px 20px;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.big-div{
  padding: 30px 20px;
  margin-top: 80px;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-div h1{
  max-width: 50%;
}

.inner-div{
  background-color:white;
  width:1000px;
  height: 100%;
  //display: flex;
  align-items: center;
  justify-content: center;
  /*border-left: 1px solid #B3C5D7;*/
  /*border-right: 1px solid #B3C5D7;*/
  /*box-shadow: 2px -2px 1px 2px #F2F2F2;*/
  padding-top: 60px;
  padding-bottom: 75px;
}

.inner-div h2{
  margin-bottom: 50px;

}

.inner-div p{
  margin: 0 auto;
  line-height: 36px;
  text-align: justify;
  width: 700px;
}

.inner-div.flower-div{
  position: relative;
}

.inner-div .champ-open{
  width: 150px;
  bottom: 87px;
  position: absolute;
  left: 423px;
}

.inner-div .entrance-text{
  margin-top: 135px;
}
.App-header .inner-div{
  background-color: #D8E1E9;
  border-left: none;
  border-right:none;
  border-bottom: 2px solid #B3C5D7;
}

.big-div.title-area{
  margin-top: 0;
}

.title-area{
  background-color: #f8f8f8;
}

.title-area h1{
  margin: 10px auto;
}
.title-area .inner-div {
  padding-top: 30px;
}

.legend {
  background-color: #f8f8f8;
}


.legend .inner-div{
  background-color: white;
  background-image: url("images/celbimphoto.jpeg");
  background-size: cover;
  box-shadow: none;
  height:1100px;
}


.details{
  background-color: #f8f8f8;
}

.details .inner-div p{
  width: 700px;
}

.details .details-contact{
  text-align: center;
  display: flex;
  align-items: center;
}

.details .details-contact p {
  width:  auto;
}

.location{
  background-color: #f8f8f8;
}

.transport{
  background-color: #f8f8f8;
}

.social,.accomodation{
  background-color: #f8f8f8;
}

.thanks{
  background-color: #f8f8f8;
}

.decorative-flower{
  position: absolute;
  z-index: 0;
  left: -170px;
  top: -135px;
  width: 500px;
}

.decorative-flower2{
  position: absolute;
  z-index: 0;
  right: -170px;
  bottom: -155px;
  width: 500px;
  transform: rotate(180deg);
}


img.amp{
  width: 40px;
  opacity: 0.7;
  padding-bottom: 10px;
}

.inner-content h3{
  float: left;
  padding-left: 30px;
}

.inner-content p{
  text-align: left;
}


.l-r-wrapper{
  min-width: 600px;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
.l-r-wrapper h3{
  width: 200px;
  text-align: left;
  padding-left: 75px;
  line-height: 0;
}

.location .l-r-wrapper h3{
  width:100px;
}

.details .inner-div p.special-heading,
p.special-heading{
  width: 400px;
  text-align: center;
  padding-bottom: 30px;
}

.section-icon{
  width: 25px;
  padding-left: 5px;
  padding-top: 2px;
  position: absolute;
}

nav{
  position: absolute;
  top: 50px;
  left: 222px;
}

nav a{
  text-decoration: none;
  padding-right: 20px;
}
a{
  color:#43859e;
  text-decoration: no-underline;
}

a:hover{
  color: #548d37;
}


.name-one{
  background-image: url("images/pink-seperator.png");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 23px;
}

.mapouter{overflow:hidden;height:500px;width:600px;}.gmap_canvas {background:none!important;height:500px;width:600px;}