body {
  margin: 0;
  padding: 0;
  font-family: 'Gothic A1', sans-serif;
  background-color:#f8f8f8;
  margin-bottom: 300px;
  min-width: 1020px;
}

.content{
  padding-top: 150px;
}
h2{
  font-family: 'Arvo', serif;
  padding: 25px;
  background-image: url("images/pink-seperator.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

h1{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

ul {
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

ul li{
  text-decoration: none;
  list-style-type:none;
}