


.form {
}

.form form {
    padding: 15px 0;
}

.form input {
    height: 30px;
    padding-left: 10px;
    border: 1px solid #c1c1c1;
    margin-right: 10px;
    flex: 3;
    min-width: 300px;
}

.form input:first-child {
    flex: 1;
}

.form button {
    color: #999;
    border: 1px solid #999;
}

.form button:hover {
    cursor: pointer;
    color: #385997;
    border-color: #385997;
}